#head {
  background-color: rgba(255, 217, 0, 0.884);
  height: 200px;
  width: 100%;
}

#project-text {
  font-style: italic;
  font-family: cursive;
  font-size: 30px;
}

img{
    margin-top: -30px;
    height: 400px;
    width: 400px;
}

#img-container{
    justify-content: space-between;
    flex-wrap: wrap;
}